// -- couleurs --
$button-gradient: linear-gradient(350deg, #9356dc, #ff79da);
$green-font: #008766;
$tick: #99e2d0;
$filter: #9356dc;
$footer: #353535;
$card: #f6f6f6;
$second-gray: #eaeaea;

// -- fonts --
$logo: "Shrikhand", sans-serif;

// -- fonts size --
$logo-size: 30px;
$title-size: 24px;
$second-title-size: 18px;
$text-size: 16px;
$commentaty-size: 15px;
$new-size: 14px;

// -- fonts weight --
$weight-light: 300;
$weight-little-bold: 500;
