.dish--starter {
  animation: dish--starter 0.7s ease-in-out both;
}

@keyframes dish--starter {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.dish--plate {
  animation: dish--plate 1.5s ease-in-out both;
}

@keyframes dish--plate {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.dish--dessert {
  animation: dish--dessert 2s ease-in-out both;
}

@keyframes dish--dessert {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
